<!DOCTYPE html>
{namespace typo3=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="DC.title" content="" />
	<meta name="DC.creator" content="" />
	<title>Template for your site Fugrm</title>
	<f:base />
	<f:section name="stylesheets">
		<link rel="stylesheet" href="{f:uri.resource(path: 'Css/Fonts.css', package: 'Fugrm.FugrmPage')}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{f:uri.resource(path: 'Css/Style.css', package: 'Fugrm.FugrmPage')}" type="text/css" media="all"/>
	</f:section>

</head>
<body>
<f:section name="body">
	<section id="wrapper">
		<header>
			<a href="/">
				<img src="{f:uri.resource(path: 'Images/typo3-flow-logo-h40px.png', package: 'Fugrm.FugrmPage')}" alt="FLOW3 Usergroup Rhein-Main" title="FLOW3 Usergroup Rhein-Main"/>
			</a>
		</header>

		<nav class="menu"><ts:renderTypoScript path="parts/menu" /></nav>

		<!-- <nav class="breadcrumb"><ts:renderTypoScript path="parts/breadcrumb" /></nav> -->

		<div id="content"><ts:renderTypoScript path="sections/main" /></div>

		<footer>
			<span class="left">
				<h4>TYPO3 Flow Usergroup Rhein-Main</h4>
			</span>
			<span class="right">
				Website created with <a href="http://neos.typo3.org/" target="_blank">TYPO3 Neos</a>
			</span>
		</footer>
	</section>
</f:section>
</body>
</html>